@import "src/scss/mixins";

:host {
  display: block;

  .folder {
    @include nodeOutline;
  }

  .folder, ::ng-deep .file {
    display: flex;
    align-items: center;

    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin: .5rem 0.25em;
    }
  }

  .node-list {
    margin-left: .5rem;
    padding-left: 1rem;
    position: relative;

    > * {
      display: block;
      position: relative;

      &:before {
        content: '';
        height: 1rem;
        width: .75rem;
        border-left: 2px solid var(--border-color, #333);
        border-bottom: 2px solid var(--border-color, #333);
        position: absolute;
        left: -.825rem;
        top: 0;
      }

      &:after {
        position: absolute;
        left: -.825rem;
        top: 0;
        content: '';
        display: block;
        border-left: 2px solid var(--border-color, #333);
        height: 100%;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
