<header>
  <h1>Folder Structure Maker</h1>
</header>

<main>
  <button class="btn-primary" (click)="addFolder()">Add folder to root</button>

  <div class="nodes-wrapper">
    <ng-container *ngFor="let node of nodesService.nodesList">
      <app-folder-item [@slideInFromRight] *ngIf="node.type === 'folder'" [folder]="node" (removeNode)="removeChild($event)"></app-folder-item>
    </ng-container>
    <app-node-input *ngIf="tempNode" [node]="tempNode" (complete)="saveNode($event)"></app-node-input>
  </div>

  <textarea readonly [innerText]="nodesService.nodesList | json "></textarea>
</main>
