:host {
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .125rem;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: .25rem;
  }

  .node__actions {
    display: flex;
    align-items: center;

    img {
      filter: invert(100%);
      max-width: 100%;
      max-height: 100%;
    }

    &__add {
      img {
        transform: rotate(45deg);
        max-width: 60%;
        max-height: 60%;
        margin-top: .01em;
      }
    }
  }
}
