:root {
  --border-color: #a5a5a5;
}

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

img {
  width: 1.25rem;
  margin-top: -.2em;
}


button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  transition: all .3s ease;
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  &:hover, &:focus {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
